{{define "content" -}}
<div class="container">
   <h1 class="Report"> {{.Name}} </h1>
   <div class="products-container">
{{range .Elements}}
      <div class="element" style="display:block;clear:both;page-break-after:auto;page-break-inside:avoid;">
         <h3>儀表板名稱</h3>
         <h3>{{.Name}}</h3>
         <div class="img">報表期間:{{.Period}}</div>
         <img src="{{.Img}}" alt="">        
      </div>
{{end}}
   </div>
</div>

{{end}}